- @users.each do |user|
  - unless current_user.id == user.id || current_user.following?(user)
    .row.py-3
      .col-3
        = image_tag avatar_for(user), height: "60x", width: "60px", class: "rounded-circle"
      .col-6
        .row
          %h5.pl-3
            = link_to user.username, user_path(user), class: 'profile-link'
        .row
          %h6.pl-3
            = user.fullname
      .col-3
        = relationship_button(user, current_user)
