.container-fluid.d-flex
  .col-9
    .row 
      .card-columns.border-bottom-0
        .rectangle-4
        .rectangle-41
        %h5 Recipes
    .row
      = render 'recipes/main'
  .col-3
    .row
      = render 'recipes/rightbar'