%footer.footer.purple-background.text-light
  .container
    %br
    .row
      .col-md-4
        = link_to 'Home', root_path
        .row
        About us
      .col-md-3
        Privacy policy
        .row
        Terms and conditions
        .row
        Careers
        .row
        Help and Support
        .row
        Blog
        .row
        %br
      .col-md-3
        Copyright
        © 
        = Time.now.year
        .row
        %br
        .row
        .fa.fa-envelope
        = mail_to 'g.axl.aquila@gmail.com'
      .col-md-2
        %b.pl-5
          BALANCE
          .fas.fa-egg.fa-lg.pl-2
%br