%footer.footer.purple-background.text-light
  .container
    %br
    .row
      .col-md-4
        = link_to 'Home', root_path
        .row
        About us
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
        .row
        Careers
        .row
        Help and Support
        .row
        Blog
      .col-md-4
        Copyright
        © 
        = Time.now.year
        Twitter
        .row
        .fa.fa-envelope
        = mail_to 'g.axl.aquila@gmail.com'

%br