
.wrapper
  / Sidebar
  %nav#sidebar
    .sidebar-header
      %h5
        %b= current_user
    %ul.list-unstyled.components
      %p Dummy Heading
      %li.active
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu"} Home
        %ul#homeSubmenu.collapse.list-unstyled
          %li
            %a{:href => "#"} Home 1
          %li
            %a{:href => "#"} Home 2
          %li
            %a{:href => "#"} Home 3
      %li
        %a{:href => "#"} About
      %li
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#pageSubmenu"} Pages
        %ul#pageSubmenu.collapse.list-unstyled
          %li
            %a{:href => "#"} Page 1
          %li
            %a{:href => "#"} Page 2
          %li
            %a{:href => "#"} Page 3
      %li
        %a{:href => "#"} Portfolio
      %li
        %a{:href => "#"} Contact
