

/ Sidebar
%nav#sidebar
  .sidebar-header
    %h5
      %b= current_user
  %ul.list-unstyled.components
    %p Dummy Heading
    %li.active
      %a{:href => "recipes"}
        .fa.fa-home 
        Home
    %li
      %a{:href => "#"} 
        .fa.fa-at
        Connect
    %li
      %a{:href => "#"} 
        .fa.fa-hashtag
        Discover
    %li
      %a{:href => "#"} 
        .fa.fa-user
        Profile
